extends layout

block content
	h1 Welcome to Lingo
		p A language translator and quiz

	form
		input.wordOrigin(type='text' placeholder='origin')
		input.languageTo(type='text' placeholder='languageTo')
		input.wordToTranslate(type='text' placeholder='input word')
		input.submit(type='submit' placeholder='get Translation')
			

